<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    
    <!-- File Appender -->
    <appender name="FILE-THREAD" class="ch.qos.logback.classic.sift.SiftingAppender">
        <discriminator>
            <key>logFileName</key>
            <defaultValue>sifting.log</defaultValue>
        </discriminator>
        <sift>
            <appender name="${logFileName}" class="ch.qos.logback.core.FileAppender">
                <file>${logFileName}</file>
                <encoder>
                    <pattern>LOGBACK- %-5level %msg%n</pattern>
                </encoder>
            </appender>
        </sift>
    </appender>
    
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>tests.log</file>
        <append>false</append>
        <encoder>
            <pattern>LOGBACK- %-5level %msg%n</pattern>
        </encoder>
    </appender>
    
     <root level="INFO">
        <!--appender-ref ref="STDOUT"/-->
        <appender-ref ref="FILE-THREAD"/>
        <appender-ref ref="FILE"/>
    </root>

    
</configuration>
